asgiref==3.8.1
dj-database-url==2.2.0
Django==5.1.1
django-allauth==64.2.1
django-ckeditor==6.7.1
django-js-asset==2.2.0
django-multiselectfield==0.1.13
pillow==10.4.0
psycopg2==2.9.9
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
